.padding_bottom{
    padding-bottom: 15px;
}

.triangle{
    width: 0;
height: 0;
border-style: solid;
border-width: 50px 30px 0 30px;
border-color: #00070f transparent transparent transparent;
margin:10px 0;
}

.margin_bottom_small{
    margin-bottom: 30px;
}

.margin_top{
    margin-top: 50px;
}

.flex{
    display: flex;
}

.flex_option1{
    align-items: center;
    justify-content: space-between;
}

.tiara_logo{
    background-image: url('./image/tiara.svg');
    width: 100px;
    height:100px;
    margin:0 auto;
}

.tiara_h2{
    font: normal normal bold 14px/16px Copperplate;
    font-size: 30px;
    letter-spacing: 9px;
    margin: 25px 0;
} 

.tiara_under{
    border: 1px solid #555555;
    width: 40%;
    margin:0 auto;
    margin-bottom: 30px;
}

.tiara_description{
    font: normal normal bold 32px/16px Tsukushi A Round Gothic;
    height:150px;
    line-height: 50px;
}

.list_num{
    display: inline-block;
    background: #F7B31E;
    border-radius: 6px;
    font: normal normal normal 15px/24px Baloo;
    font-size:40px;
    letter-spacing: 2.1px;
    color: #000000;
    padding:16px 14px 12px 14px;
    margin:0 10px;
}

header{
    background: #FFFFFFCB;
    width:100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hamburger_menu{
    width: 150px;
  height: 150px;
  background-color: red;
}

.chirashi_first_section{
    background: #F4F4F4;
    width:100%;
    padding-bottom: 60px;
    text-align: center;
}

.mitsumori_section{
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    width: 50%;
    height: 80px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px #00000029;
}

.mitsumori_section_word{
    font: normal normal bold 32px/21px Tsukushi A Round Gothic;
}

.mitsumori_section_image{
    background-image: url('./image/paper-plane.svg');
    background-size:  contain;
    background-repeat:no-repeat;
    background-position: center;
    width:20%;
    height:70%;
}

.mitsumori_section_a{
   color : inherit;
   text-decoration : none;
   cursor:default;
}



.forth_contents_tmp{
    width: 95%;
    margin:0 auto;
    box-shadow: 8px 8px 8px #00000029;
    border-radius: 20px;
    background: #FFFFFF;
    margin-top:30px;
}

.forth_contents_upper{
    width:100%;
    margin:0 auto;
    height:250px;
    
    display: flex;
    justify-content: center;
  align-items: center;
}

.forth_left_continer{
    width: 20%;
    height: 100%;
    border-right: 2px solid #555555;
}

.forth_left_container_image{
    background-image: url('./image/work.svg');
    background-size:  contain;
    background-repeat:no-repeat;
    width:90%;
    height:50%;
    margin-top: 60px;
}

.image_first{
    background-image: url('./image/pumpkin-carriage.svg');
    background-size:  contain;
    background-repeat:no-repeat;
}

.image_second{
    background-image: url('./image/work.svg');
    background-size:  contain;
    background-repeat:no-repeat;
}

.image_third{
    background-image: url('./image/work.svg');
    background-size:  contain;
    background-repeat:no-repeat;
}

.forth_right_container{
    width:70%;
    height: 100%;
}

.forth_right_container_h3{
    text-align: left;
    font: normal normal bold 32px/21px Tsukushi A Round Gothic;
    padding-left:20px;
    margin: 40px 0;
}

.forth_right_container_h3_last{
    font: normal normal bold 30px/21px Tsukushi A Round Gothic;
}

.forth_right_container_description_tmp{
    font: normal normal normal 26px/13px Tsukushi A Round Gothic;
    letter-spacing: 2px;
    line-height: 30px;
}

.forth_contents_under{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ここまでfirstSection */

.chirashi_second_section{
    background: #DDDDDD;
    width:100%;
    padding-bottom: 60px;
    text-align: center;
}

.third_image_container{
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.third_image_block_container{
    width: 30%;
    height: 280px;
    border-radius: 10%;
}

.third_image_block_under_section{
    width:80%;
    margin:0 auto;
}


/* ここからロゴのイメージの画像 */

  .first_image_block{
    background: transparent url('./image/plans-1867745_1920.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

/* ここまで */

.chirashi_second_section_kanban{
    width: 90%;
    margin:0 auto 45px auto;
    box-shadow: 4px 8px 8px #00000029;
    border-radius: 30px;
}

.kanban_upper{
    background: #555555;
    font: normal normal bold 40px/19px Tsukushi A Round Gothic;
    color: #FFFFFF;
    width:100%;
    padding:20px 0;
    border-radius:30px 30px 0 0;
}

.kanban_under{
    width:100%;
    background-color:#FFFFFF;
    height: 300px;
    border-radius:0 0 30px 30px;
}

.kanban_under_block{
    width:50%;
}

.kanban_under_block_section{
    width:100%;
}

.kanban_under_title{
    font: normal normal bold 32px/16px Tsukushi A Round Gothic;
    padding:30px;
}

.kanban_under_content{
    font: normal normal bold 22px/16px Tsukushi A Round Gothic;
    line-height: 40px;
}

.kanban_under_list{
    font: normal normal bold 28px/16px Tsukushi A Round Gothic;
    padding:30px;
}

.chirashi_second_section_term{
    width: 90%;
    margin: 0 auto;
}

.chirashi_second_section_word_red{
    text-align: left;
    font-family: Tsukushi A Round Gothic ;
    font-weight: bold;
    font-size: 12px;
letter-spacing: 2px;
line-height: 20px;
}

.chirashi_second_section_word_black{
    text-align: left;
    font-family:  Tsukushi A Round Gothic;
    font-size: 12px;
letter-spacing: 1.2px;
line-height: 20px;
}



.red{
    color: #FF0000;
}

ul.asterisk li {
    list-style-type: none;
    text-indent: -2em;
    margin-bottom: 20px;
    padding:0 30px;
  }
ul.asterisk li:before {
    display: inline;
    content: "※";
    color: black;
  }

/* ここからforth */

.forth_section{
    background: #C3C3C3;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.forth_h2{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 20px 0;
    font: normal normal bold 35px/16px Tsukushi A Round Gothic;
}

.forth_under{
    border: 1px solid #555555;
    width: 30%;
    margin:0 auto;
}

.forth_description{
    font: normal normal bold 25px/16px Tsukushi A Round Gothic;
    height:150px;
    line-height: 150px;
}

.forth_contents{
    width: 95%;
    margin:0 auto;
}

.forth_contents_upper{
    width:100%;
    margin:0 auto;
    background: #FFFFFF;
    height:250px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
  align-items: center;
}

.forth_left_continer{
    width: 20%;
    height: 100%;
    border-right: 2px solid #555555;
}

.forth_left_container_image{
    background-image: url('./image/work.svg');
    background-size:  contain;
    background-repeat:no-repeat;
    width:90%;
    height:50%;
    margin-top: 60px;
}

.forth_right_container{
    width:70%;
    height: 100%;
}

.forth_right_container_h3{
    font: normal normal bold 38px/21px Tsukushi A Round Gothic;
    margin: 40px 0;
}

.forth_right_container_description{
    font: normal normal normal 22px/13px Tsukushi A Round Gothic;
    letter-spacing: 2px;
    line-height: 30px;
}

.forth_contents_under{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ここからfifith */
.fifth_section{
    background: #555555;
    width:100%;
    padding:50px 0;
}

.fifth_section_container{
    width: 80%;
    margin:0 auto;
}

.fifth_section_container_upper{
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    width: 70%;
    height: 80px;
    margin:0 auto;
    align-items: center;
    justify-content: center;
}

.fifth_section_container_upper_word{
    font: normal normal bold 32px/21px Tsukushi A Round Gothic;
}

.fifth_section_container_upper_image{
    background-image: url('./image/paper-plane.svg');
    background-size:  contain;
    background-repeat:no-repeat;
    width:20%;
    height:70%;
}

.fifth_a{
   color : inherit;
   text-decoration : none;
   cursor:default;
}

.fifth_section_container_middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 80px;
}

.fifth_t2{
  background-image: url('./image/T2_logo_black.png');
  width: 20%;
  height: 100%;
  background-size:  contain;
  background-repeat:no-repeat;
  background-position: center;
}

.fifth_word{
    font: normal normal bold 18px/17px Tsukushi A Round Gothic;
    color: #FFFFFF;
}

.fifth_insta{
    background-image: url('./image/instagram.svg');
    width: 20%;
  height: 100%;
  background-size:  contain;
  background-repeat:no-repeat;
  background-position: center;
}

.fifth_fb{
    background-image: url('./image/facebook-circular-logo.svg');
    width: 20%;
  height: 100%;
  background-size:  contain;
  background-repeat:no-repeat;
  background-position: center;
}

.fifth_section_container_footer{
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
}

.c{
    font: normal normal bold 10px/9px Tsukushi A Round Gothic;

}

.fifth_logo{
    font: normal normal bold 25px/9px Copperplate;
}

.fifth_last{
    font: normal normal bold 10px/9px Copperplate;
}