.fifth_section{
    background: #555555;
    width:100%;
    padding:50px 0;
}

.fifth_section_container{
    width: 80%;
    margin:0 auto;
}

.fifth_section_container_upper{
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    width: 70%;
    height: 80px;
    margin:0 auto;
    align-items: center;
    justify-content: center;
}

.fifth_section_container_upper_word{
    font: normal normal bold 32px/21px Tsukushi A Round Gothic;
}

.fifth_section_container_upper_image{
    background-image: url('./image/paper-plane.svg');
    background-size:  contain;
    background-repeat:no-repeat;
    width:20%;
    height:70%;
}

.fifth_a{
   color : inherit;
   text-decoration : none;
   cursor:default;
}

.fifth_section_container_middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 80px;
}

.fifth_t2{
  background-image: url('./image/T2_logo_black.png');
  width: 20%;
  height: 100%;
  background-size:  contain;
  background-repeat:no-repeat;
  background-position: center;
}

.fifth_word{
    font: normal normal bold 18px/17px Tsukushi A Round Gothic;
    color: #FFFFFF;
}

.fifth_insta{
    background-image: url('./image/instagram.svg');
    width: 20%;
  height: 100%;
  background-size:  contain;
  background-repeat:no-repeat;
  background-position: center;
}

.fifth_fb{
    background-image: url('./image/facebook-circular-logo.svg');
    width: 20%;
  height: 100%;
  background-size:  contain;
  background-repeat:no-repeat;
  background-position: center;
}

.fifth_section_container_footer{
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
}

.c{
    font: normal normal bold 20px/9px Tsukushi A Round Gothic;

}

.fifth_logo_word{
    font: normal normal bold 10px/9px Copperplate;
}

.fifth_logo{
    font: normal normal bold 25px/9px Copperplate;
}

.fifth_last{
    font: normal normal bold 6px/9px Copperplate;
}