.forth_section{
    background: #C3C3C3;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.forth_h2{
    font-size: 50px;
    letter-spacing: 2px;
    margin: 20px 0;
    font: normal normal bold 35px/16px Tsukushi A Round Gothic;
}

.forth_under{
    border: 1px solid #555555;
    width: 30%;
    margin:0 auto;
}

.forth_description{
    font: normal normal bold 25px/16px Tsukushi A Round Gothic;
    height:150px;
    line-height: 150px;
}

.forth_contents{
    width: 95%;
    margin:0 auto;
}

.forth_contents_upper{
    width:100%;
    margin:0 auto;
    background: #FFFFFF;
    height:250px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
  align-items: center;
}

.forth_left_continer{
    width: 20%;
    height: 100%;
}

.forth_left_container_image{
    background-image: url('./image/work.svg');
    background-size:  contain;
    background-repeat:no-repeat;
    width:90%;
    height:50%;
    margin-top: 60px;
}

.forth_right_container{
    width:70%;
    height: 100%;
}

.forth_right_container_h3{
    font: normal normal bold 38px/21px Tsukushi A Round Gothic;
    margin: 40px 0;
    padding-right: 80px;
}

.forth_right_container_description{
    font: normal normal normal 22px/13px Tsukushi A Round Gothic;
    letter-spacing: 2px;
    line-height: 30px;
}

.forth_contents_description_container_upper_middle_border{
    display: inline-block;
    border-right: 6px solid #555555;
    height: 130px;
}

.forth_contents_under{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.triangle{
    width: 0;
height: 0;
border-style: solid;
border-width: 50px 30px 0 30px;
border-color: #00070f transparent transparent transparent;
margin:10px 0;
}