.tiara_logo{
    background-image: url('./image/tiara.svg');
    width: 100px;
    height:100px;
    margin:0 auto;
}



.tiara_h2{
    font: normal normal bold 12px/24px Tsukushi A Round Gothic;
    letter-spacing: 6px;
    margin: 0 auto;
} 

.tiara_h2_roma{
    font: normal normal bold 40px/16px Copperplate;
 
 }

.tiara_under{
    border: 1px solid #555555;
    width: 40%;
    margin:0 auto;
    margin-bottom: 30px;
}

.tiara_description{
    font: normal normal bold 32px/16px Tsukushi A Round Gothic;
    height:150px;
    line-height: 50px;
}